* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    flex-direction: column;
    align-items: flex-start;
    background-color: #F8F2ED;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
   margin-top: 0;
   margin-left: auto;
   
}

.navbar-custom .navbar-nav .nav-link{
    margin-left: auto;
    cursor: pointer;
    transition: transform 0.2s;
    color: #c8a8dd;
    font-weight: 500;
    font-size: 1rem;
    padding-right: 40px !important;
    border-right: 1px solid #c8a8dd;
    height: 30px;
    margin-right: 15px;
    

}


li:hover {
    transform: scale(1.1);
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    background-color: #bffefe;
    background-position: center bottom;
    font-size: 2.8rem;
    color: rgb(243, 100, 233);
    font-weight: 600;
    border: 2px solid #6bf3f3;
    border-radius: 10px;
    margin-top: 5%;
}

footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: #AB8EBF;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px; /* Añadido espacio al padding para mejor apariencia */
}

#imagenFooter {
    padding: 10px;
}

h2 {
    color: white;
    font-size: 1.2rem;
}

img {
    width: 150px;
}

