* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F2ED;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between; /* Cambiado a space-between para distribuir los elementos */
    width: 100%;
    margin-top: 1%;
}

.logo-header {
    margin-left: 2%;
    width: 15%;
    height: 10%;
}

nav {
    margin-right: 4%;
}

ul {
    display: flex;
    gap: 40px;
    list-style: none;
    margin-top: 10px;
}

li {
    cursor: pointer;
    transition: transform 0.2s;
    color: #c8a8dd;
    font-weight: 500;
    font-size: 1rem;
    padding-right: 20px;
    border-right: 1px solid #c8a8dd;
    height: 30px;
    
}

li:hover {
    transform: scale(1.1);
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    width: 60%;
    height: 40%;
    background-color: #bffefe;
    background-position: center bottom;
    font-size: 2.8rem;
    color: rgb(243, 100, 233);
    font-weight: 600;
    border: 2px solid #6bf3f3;
    border-radius: 10px;
    margin-top: 5%;
}

footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: #AB8EBF;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px; /* Añadido espacio al padding para mejor apariencia */
}

#imagenFooter {
    padding: 10px;
}

h2 {
    color: white;
    font-size: 1.2rem;
}

img {
    width: 100px;
}